USE [master]
GO
/****** Object:  Database [DbSifreleme]    Script Date: 2.04.2020 17:46:11 ******/
CREATE DATABASE [DbSifreleme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSifreleme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbSifreleme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbSifreleme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbSifreleme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSifreleme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSifreleme]
GO
/****** Object:  Table [dbo].[tblVeriler]    Script Date: 2.04.2020 17:46:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVeriler](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](100) NULL,
	[Soyad] [varchar](100) NULL,
	[Mail] [varchar](100) NULL,
	[Sifre] [varchar](100) NULL,
	[HesapNo] [varchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
